{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>StratiView</title>
    <link rel="preload" href="{% static 'css/bootstrap.css' %}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="preload" href="{% static 'css/layout.css' %}"  as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
      <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
      <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    </noscript>
    <link
      rel="shortcut icon"
      href="{% static 'images/favicon.ico' %}"
      type="image/x-icon"
    />
    {% block extraCSS %} {% endblock %}
    <!-- Iconos -->
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="alert">
      {% if messages %}
        {% for message in messages %}
          {% if forloop.first %}
            {% if message.tags == "warning" %}
              <div class="alert alert-warning alert-dismissible fade show floating-alert" role="alert">
                {{ message }}
                <button type="button" class="btn-close shadow-none" data-bs-dismiss="alert" aria-label="Cerrar"></button>
              </div>
            {% elif message.tags == "info" %}
              <div class="alert alert-info alert-dismissible fade show floating-alert" role="alert">
                {{ message }}
                <button type="button" class="btn-close shadow-none" data-bs-dismiss="alert" aria-label="Cerrar"></button>
              </div>
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>
    
    <nav class="navbar navbar-expand-lg bg-light shadow-sm p-0" 
      style="border-bottom: solid 1px; border-color: rgba(128, 128, 128, 0.44);"
      data-bs-theme="light">
      <div id="navbar-backdrop" style="display: none;"></div>
      <div class="container-fluid" style="flex-wrap: initial;">
        <div class="container-fluid">
          <a 
            class="navbar-brand" 
            href="{% url 'routes' %}">
            <img
              rel="preload"
              as="iamge"
              src="{% static 'images/lgstratiview.webp' %}"
              alt="Logo"
              class="logo"
            />
          </a>
        </div>
        {% if request.resolver_match.url_name != 'viewer_public' %}
        <button
          class="navbar-toggler shadow-none"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        {% endif %}
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <button type="button" class="btn-close ms-auto mb-4 d-lg-none" aria-label="Cerrar" id="closeMenuBtn"></button>
          <ul class="navbar-nav mb-lg-0">
            {% if request.resolver_match.url_name == 'viewer' %}
            <li class="nav-item">
              <a 
                class="nav-link {% if request.resolver_match.url_name == 'viewer' %}active-route{% endif %}" 
                style="display: inline-flex; align-items: center; width: fit-content;"
                aria-current="page" 
                href="#"
              >
                <i class="fa-solid fa-street-view me-2"></i>
                Visor
              </a>
            </li>
            {% endif %}
            {% if request.resolver_match.url_name != 'viewer_public' %}
            <li class="nav-item">
              <a
                class="nav-link {% if request.path == '/stratiview/routes/' %}active-route{% endif %}"
                style="display: inline-flex; align-items: center; width: fit-content;"
                href="{% url 'routes' %}"
                >
                <i class="fa-solid fa-road me-2"></i>
                Recorridos
              </a>
            </li>
            {% if request.user.area_names|has_allowed_area:"administracion" or request.user.rol_names|has_allowed_rol:"administrador" %}
            <li class="nav-item">
              <a
                class="nav-link {% if request.path == '/stratiview/panoramas/' %}active-route{% endif %}"
                style="display: inline-flex; align-items: center; width: fit-content;"
                href="{% url 'panoramas' %}"
              >
                <i class="fa-solid fa-panorama me-2"></i>
                Panoramas
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link {% if request.path == '/stratiview/users/' %}active-route{% endif %}"
                style="display: inline-flex; align-items: center; width: fit-content;"
                href="{% url 'users' %}"
              >
                <i class="fas fa-users me-2"></i>
                Usuarios
              </a
              >
            </li>
            {% endif %}
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="fas fa-user-cog me-1"></i>
                {{ request.user.username }}
              </a>
              <ul class="dropdown-menu dropdown-menu-end">
                <li>
                  <form action="{% url 'sign_out' %}" method="post">
                    {% csrf_token %}
                    <button
                      type="submit"
                      class="dropdown-item dropdown-item-custom"
                    >
                      <i class="fas fa-sign-in-alt me-2"></i>
                      Cerrar sesión
                    </button>
                  </form>
                </li>
                <!-- <li><hr class="dropdown-divider" /></li> -->
              </ul>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <main class="{% if request.resolver_match.url_name == 'viewer' or request.resolver_match.url_name == 'viewer_public' %}h-viewer{% endif %}">
      {% block viewer %}
      <div class="p-2 container-content">
        {% block content %} {% endblock %}
      </div>
      {% endblock %}
    </main>

    <footer 
      class="text-center bg-dark {% if request.resolver_match.url_name == 'viewer' or request.resolver_match.url_name == 'viewer_public' %}d-none{% endif %}" 
      data-bs-theme="dark"
    >
      <p>&copy; 2025 Metro IQ</p>
    </footer>
    <script src="{% static 'js/bootstrap.bundle.js' %}" defer></script>
    {% block extraJS %}
    <script src="{% static 'js/layout.js' %}"></script>
    {% endblock %}
  </body>
</html>
