{% extends "auth/sign_in.html" %} {% load static %} {% block content %}
<form
  class="bg-white px-4 py-3 d-flex flex-column rounded shadow m-4"
  method="POST"
  id="passwordChangeForm"
>
  {% csrf_token %}
  <div style="text-align: center">
    <h2 class="mb-4">Cambiar contraseña</h2>
  </div>

  <div class="mb-3 position-relative">
    <label for="old_password" class="form-label">Contraseña actual</label>
    <div class="input-group" style="width: 400px;">
      <input
      type="password"
      name="old_password"
      id="old_password"
      class="form-control"
      required
      />
      <button type="button" class="btn btn-outline-secondary toggle-password" data-target="old_password">
        <i class="fa-solid fa-eye"></i>
      </button>
    </div>
  </div>

  <div class="mb-3 position-relative">
    <label for="new_password1" class="form-label">Nueva contraseña</label>
    <div class="input-group" style="width: 400px;">
      <input
        type="password"
        name="new_password1"
        id="new_password1"
        class="form-control"
        required
      />
      <button type="button" class="btn btn-outline-secondary toggle-password" data-target="new_password1">
        <i class="fa-solid fa-eye"></i>
      </button>
    </div>
  </div>

  <div class="mb-3 position-relative">
    <label for="new_password2" class="form-label"
      >Confirmar nueva contraseña</label
    >
    <div class="input-group" style="width: 400px;">
      <input
        type="password"
        name="new_password2"
        id="new_password2"
        class="form-control"
        required
      />
      <button type="button" class="btn btn-outline-secondary toggle-password" data-target="new_password2">
        <i class="fa-solid fa-eye"></i>
      </button>
    </div>
  </div>
  <div style="text-align: center;" id="alert">
    {% if messages %}
      {% for message in messages %}
        {% if forloop.first %}
          <p class="message-{{ message.tags }}">{{ message }}</p>
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
  <!-- Botón con ícono -->
  <button type="submit" class="btn btn-primary">
    <i class="fa-solid fa-floppy-disk me-2"></i> Cambiar contraseña
  </button>
</form>
{% endblock %}
