{% load static %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EstratiView {% block title %} - Sign in {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'css/auth/style.css' %}" />
    <link
      rel="shortcut icon"
      href="{% static 'images/favicon.ico' %}"
      type="image/x-icon"
    />
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
  </head>
  <body>
    <div id="alert">
      {% if messages %}
        {% for message in messages %}
          {% if forloop.first %}
            {% if message.tags == "warning" %}
              <div class="alert alert-warning alert-dismissible fade show floating-alert" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
              </div>
            {% elif message.tags == "info" %}
              <div class="alert alert-info alert-dismissible fade show floating-alert" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
              </div>
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>
    <main>
      {% block content %}
      <form
        class="px-4 py-3 d-flex flex-column form-signin"
        method="POST"
      >
        {% csrf_token %}

        <div class="mb-3 text-center">
          <img
            src="{% static 'images/lgstratimex.webp' %}"
            class="logo"
            alt="Logo Stratimex"
          />
        </div>

        <!-- Campo email con ícono -->
        <div class="mb-3 position-relative">
          <label for="email" class="form-label">Correo electrónico</label>
          <div class="input-group rounded" style="border: solid 1px grey;">
            <span class="input-group-text"
              ><i class="fas fa-envelope"></i
            ></span>
            <input
              type="email"
              class="form-control"
              id="email"
              value="{{ email }}"
              name="email"
              placeholder="ejemplo@erdm.mx"
            />
          </div>
        </div>

        <!-- Campo contraseña con ícono -->
        <div class="mb-3 position-relative">
          <label for="password" class="form-label">Contraseña</label>
          <div class="input-group rounded" style="border: solid 1px grey; overflow: hidden;">
            <span class="input-group-text"><i class="fas fa-lock"></i></span>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              placeholder="********"
            />
            <button type="button" class="btn btn-outline-secondary toggle-password rounded-0" data-target="password" style="border: none;">
              <i class="fa-solid fa-eye"></i>
            </button>
          </div>
        </div>
        <div style="text-align: center; word-wrap: break-word;" id="message">
          {% if messages %}
            {% for message in messages %}
              {% if forloop.first %}
                {% if message.tags == "success" %}
                  <p class="message-success">{{ message }}</p>
                {% elif message.tags == "error" %}
                  <p class="message-error">{{ message }}</p>
                {% endif %}
              {% endif %}
            {% endfor %}
          {% endif %}
        </div>
        
        <!-- Botón con ícono -->
        <button type="submit" class="btn btn-primary">
          <i class="fas fa-sign-in-alt me-2"></i> 
          Iniciar sesión
        </button>
      </form>
      {% endblock %}
    </main>

    <footer class="bg-black text-center" data-bs-theme="dark">
      <p>&copy; 2025 Estrategas de México</p>
    </footer>

    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/auth/form.js' %}"></script>
    <!-- Tiempo para eliminar el mensaje -->
    <script>
      alert = document.getElementById("message");
      if (alert) {
        setTimeout(() => {
          alert.style.display = "none";
        }, 3500);
      }
    </script>
    <!-- Tiempo para eliminar la alerta -->
    <script>
      alert = document.getElementById("alert");
      if (alert) {
        setTimeout(() => {
          alert.style.display = "none";
        }, 3500);
      }
    </script>
  </body>
</html>
