footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px;
    text-align: center;
    font-size: 14px;
}

.logo {
    height: 35px;
    filter: brightness(10);
}

footer p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: white;
}

.nav-link-custom {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-link-custom:hover {
    color: rgb(61, 123, 194);
}

.active-route {
    color: rgb(132, 188, 252);
}