{% extends 'layout.html' %} {% load static %} 
{% block extraCSS %}
<link rel="stylesheet" href="{% static 'css/users/style.css' %}" as="style" onload="this.onload=null;this.rel='stylesheet'"/>
<noscript>
  <link rel="stylesheet" href="{% static 'css/users/style.css' %}">
</noscript>

{% endblock %} {% block content %}
<div class="d-flex justify-content-between align-items-center p-0">
  <div>
    <h2>Gestión de usuarios</h2>
    <p>Administra los usuarios</p>
  </div>
  <button
    class="btn btn-primary"
    data-bs-toggle="modal"
    data-bs-target="#modalAddUser"
  >
    <i class="fa-solid fa-plus"></i> 
    Agregar usuario
  </button>
</div>

<div class="container-fluid bg-white rounded-2 shadow-sm h-100">
    <header
      class="d-flex justify-content-between align-items-center gap-2"
    >
      <!-- Botones de acción -->
      <div class="d-flex align-items-center gap-2">
        <button
          class="btn btn-secondary rounded-3"
          style="display: inline-flex; align-items: center"
          type="button"
        >
          <i class="fa-solid fa-filter me-1"></i>
          Filtrar
        </button>
  
        <button
          class="btn btn-outline-secondary rounded-3"
          style="display: inline-flex; align-items: center"
          type="button"
        >
          <i class="fa-solid fa-rotate me-1"></i> Actualizar
        </button>
      </div>
      <nav aria-label="Page navigation" class="d-flex align-items-center">
        <ul class="pagination m-0 p-0">
          <li class="page-item disabled">
            <a class="page-link m-0" href="#" aria-disabled="true">
              <i class="fas fa-chevron-left"></i>
            </a>
          </li>
          <li class="page-item active"><a class="page-link m-0" href="#">1</a></li>
          <li class="page-item"><a class="page-link m-0" href="#">2</a></li>
          <li class="page-item"><a class="page-link m-0" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link m-0" href="#">
              <i class="fas fa-chevron-right"></i>
            </a>
          </li>
        </ul>
      </nav>
    </header>
    <div class="d-flex justify-content-between align-items-center">
      <div class="text-muted">Mostrando 1-4 de 20 usuario</div>
    </div>
    <table
      class="table table-striped table-hover table-users"
      id="users-table"
    >
      <thead class="table-dark">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nombre/s</th>
          <th scope="col">Apellidos</th>
          <th scope="col">Nombre de usuario</th>
          <th scope="col">Correo</th>
          <th scope="col">Telefono</th>
          <th scope="col">Estado</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <td>{{ user.id }}</td>
          <td>{{ user.first_name }}</td>
          <td>{{ user.last_name }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.phone }}</td>
          <td>{{ user.state.name }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% include 'users/add_user.html' %} 

{% endblock %}