{% load static %}
<div
  class="modal fade"
  id="modalAddPanorama"
  tabindex="-1"
  aria-labelledby="modalAddPanoramaLabel"
  aria-hidden="true"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <form
        method="post"
        enctype="multipart/form-data"
        action="{% url 'add_panoramas' %}"
      >
        {% csrf_token %}
        <div class="modal-header">
          <h5 class="modal-title" id="modalAddPanoramaLabel">
            Agregar panoramas
          </h5>
          <button
            type="button"
            class="btn-close"
            id="btn-close"
            data-bs-dismiss="modal"
            aria-label="Cerrar"
          ></button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="state" class="form-label" style="outline: none;">Entidad federativa</label>
            <select class="form-select select-custom" id="state" name="state" required>
              <option selected disabled hidden>Selecciona la entidad correspondiente</option>
              {% for state in states %}
                <option value="{{ state.id }}">{{ state.name }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="mb-3">
            <input
              type="file"
              class="form-control"
              id="images"
              name="images"
              multiple
              accept="image/*"
              multiple
              required
              hidden
            />
            <small id="file-count" class="text-muted mt-2 d-block"></small>
            <div
              id="dropzone"
              class="rounded text-center dropzone"
            >
              <i class="fa-solid fa-file-import fa-2xl"></i>
              <span>
                  Selecciona o arrastra tus imágenes aquí
              </span>
            </div>
            <small class="text-muted mt-2 d-block">
              <i class="fa-solid fa-circle-info"></i>
              <strong>Nota:</strong> El numero máximo de imágenes es <strong>1000</strong> y el tamaño máximo total es de <strong>3GB</strong>.
            </small>
          </div>
        </div>
        <div class="modal-footer">
            <button
            type="button"
            class="btn btn-secondary"
            id="btn-clear"
            onClick="clearFiles()"
          >
            <i class="fa-solid fa-eraser"></i>
            Limpiar
          </button>
          <button type="submit" class="btn btn-primary" id="btn-save">
            <i class="fa-solid fa-floppy-disk"></i>
            Guardar
          </button>
          <button
            type="button"
            class="btn btn-danger"
            id="btn-cancel"
            data-bs-dismiss="modal"
            aria-label="Cerrar"
          >
            <i class="fa-solid fa-ban"></i>
            Cancelar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

{% block extraJS %}
<script src="{% static 'js/panoramas/add_panorama.js' %}"></script>
{% endblock %}
