{% load static %}
<div
  class="modal fade"
  id="modalDeletePanorama"
  tabindex="-1"
  aria-labelledby="modalDeletePanoramaLabel"
  aria-hidden="true"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
>
  <div class="modal-dialog modal-md modal-dialog-centered">
    <div class="modal-content">
      <form
        method="post"
        action="{% url 'delete_panorama' %}"
      >
        {% csrf_token %}
        <div class="modal-header">
          <h5 class="modal-title" id="modalDeletePanoramaLabel">
            Eliminar panorama
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Cerrar"
          ></button>
        </div>
        <div class="modal-body">
          <div id="loader" class="w-100 text-center text-muted py-5">
            <div class="spinner-border text-primary" role="status"></div>
            <p class="mt-2">Cargando...</p>
          </div>
          <div id="modal-content" class="gap-3 w-100" style="display: none;">
            <div class="d-flex flex-column gap-0 mb-2 p-0">
              <p class="m-0 p-0">¿Estas seguro de borrar el panorama? </p>
              <small>La información correspondiente al panorama es la siguiente:</s>
            </div>
            <div class="form-group d-flex justify-content-between gap-2">
              <div>
                <label for="panorama-id">Clave</label>
                <input type="text" class="form-control bg-light text-muted" id="panorama-id" name="panorama_id" readonly/>
              </div>
              <div>
                <label for="panorama-state-name">Recorrido</label>
                <input type="text" class="form-control bg-light text-muted" id="panorama-state-name" readonly/>
              </div>
            </div>
            <div class="form-group">
              <label for="panorama-name" class="form-label">Nombre</label>
              <input
                type="text"
                class="form-control bg-light text-muted"
                id="panorama-name"
                readonly
              />
              <small class="text-muted mt-2 d-block">
                <i class="fa-solid fa-circle-info"></i>
                <strong>Nota:</strong> El nombre corresponde a las <strong>coordenadas</strong> y <strong>recorrido</strong> seleccionada al momento del almacenamiento de la misma.
              </small>
            </div>
          </div>
        </div>
        <div class="modal-footer" id="modal-footer">
          <button class="btn btn-danger">
            <i class="fa-solid fa-trash"></i>
            Eliminar definitivamente
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            id="btn-close"
            data-bs-dismiss="modal"
          >
            <i class="fa-solid fa-ban"></i>
            Cancelar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>


{% block extraJS %}
<script src="{% static 'js/panoramas/delete_panorama.js' %}"></script>
{% endblock %}
