{% extends 'layout.html' %} {% load static %} {% block extraCSS %}
<link rel="stylesheet" href="{% static 'css/panoramas/style.css' %}" />
{% endblock %} {% block content %}
<div class="d-flex justify-content-between align-items-center p-0">
  <div>
    <h2>Gestión de panoramas</h2>
    <p>Administra las coordenadas y datos geográficos</p>
  </div>
  <button
    class="btn btn-primary"
    data-bs-toggle="modal"
    data-bs-target="#modalAgregarPanorama"
  >
    <i class="fa-solid fa-plus"></i> Agregar
  </button>
</div>

<div class="container-fluid bg-white rounded-2 shadow-sm h-100">
  <header
    class="d-flex justify-content-between align-items-center gap-2"
  >
    <!-- Botones de acción -->
    <div class="d-flex align-items-center gap-2">
      <button
        class="btn btn-secondary rounded-3"
        style="display: inline-flex; align-items: center"
        type="button"
      >
        <i class="fa-solid fa-filter me-1"></i>
        Filtrar
      </button>

      <button
        class="btn btn-outline-secondary rounded-3"
        style="display: inline-flex; align-items: center"
        type="button"
      >
        <i class="fa-solid fa-rotate me-1"></i> Actualizar
      </button>
    </div>
    <nav aria-label="Page navigation" class="d-flex align-items-center">
      <ul class="pagination m-0 p-0">
        <li class="page-item disabled">
          <a class="page-link m-0" href="#" aria-disabled="true">
            <i class="fas fa-chevron-left"></i>
          </a>
        </li>
        <li class="page-item active"><a class="page-link m-0" href="#">1</a></li>
        <li class="page-item"><a class="page-link m-0" href="#">2</a></li>
        <li class="page-item"><a class="page-link m-0" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link m-0" href="#">
            <i class="fas fa-chevron-right"></i>
          </a>
        </li>
      </ul>
    </nav>
  </header>
  <div class="d-flex justify-content-between align-items-center">
    <div class="text-muted">Mostrando 1-4 de 20 panoramas</div>
  </div>
  <table
    class="table table-striped table-hover table-panorama"
    id="panoramas-table"
  >
    <thead class="table-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Latitud</th>
        <th scope="col">Longitud</th>
        <th scope="col">Altitud</th>
        <th scope="col">Estado</th>
        <th scope="col">Fecha de toma</th>
        <th scope="col">Fecha de subida</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for panorama in panoramas %}
      <tr>
        <td>{{ panorama.id }}</td>
        <td>{{ panorama.name }}</td>
        <td>{{ panorama.gps_lat }}</td>
        <td>{{ panorama.gps_lng }}</td>
        <td>{{ panorama.gps_alt }}</td>
        <td>{{ panorama.state.name }}</td>
        <td>{{ panorama.date_taken|date:'d-m-Y H:i' }}</td>
        <td>{{ panorama.date_uploaded|date:'d-m-Y H:i' }}</td>
        <td class="text-center p-1">
          <button
            class="btn btn-secondary rounded-3"
            style="display: inline-flex; align-items: center"
            type="button"
            data-bs-toggle="modal"
            title="Editar panorama"
            onclick="openEditModal({{ panorama.id }})"
          >
            <i class="fa-solid fa-pen-to-square"></i>
          </button>
          <button
            class="btn btn-danger rounded-3"
            style="display: inline-flex; align-items: center"
            type="button"
            title="Eliminar panorama"
          >
            <i class="fa-solid fa-trash-can"></i>
          </button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% include 'panoramas/add_panorama.html' %}
{% include 'panoramas/edit_panorama.html' %}
{% endblock %}