{% load static %}
<div
  class="modal fade"
  id="modalAgregarPanorama"
  tabindex="-1"
  aria-labelledby="modalAgregarPanoramaLabel"
  aria-hidden="true"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form
        method="post"
        enctype="multipart/form-data"
        action="{% url 'add_panoramas' %}"
      >
        {% csrf_token %}
        <div class="modal-header">
          <h5 class="modal-title" id="modalAgregarPanoramaLabel">
            Agregar panoramas
          </h5>
          <button
            type="button"
            class="btn-close"
            id="btn-close"
            onclick="cancelUpload()"
            data-bs-dismiss="modal"
            aria-label="Cerrar"
          ></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <input
              type="file"
              class="form-control"
              id="images"
              name="images"
              multiple
              accept="image/*"
              multiple
              required
              hidden
            />
            <small id="file-count" class="text-muted mt-2 d-block"></small>
            <div
              id="dropzone"
              class="rounded text-center dropzone"
            >
              <i class="fa-solid fa-file-import fa-2xl"></i>
              <span>
                  Selecciona o arrastra tus imágenes aquí
              </span>
            </div>
          </div>
        </div>
        <div class="modal-footer">
            <button
            type="button"
            class="btn btn-secondary"
            id="btn-clear"
            onClick="clearFiles()"
          >
            <i class="fa-solid fa-eraser"></i>
            Limpiar
          </button>
          <button type="submit" class="btn btn-primary" id="btn-save">
            <i class="fa-solid fa-floppy-disk"></i>
            Guardar
          </button>
          <button
            type="button"
            class="btn btn-danger"
            id="btn-cancel"
            onClick="cancelUpload()"
            data-bs-dismiss="modal"
            aria-label="Cerrar"
          >
            <i class="fa-solid fa-ban"></i>
            Cancelar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="{% static 'js/panoramas/dropzone.js' %}"></script>
<script src="{% static 'js/panoramas/form.js' %}"></script>
