{% load static %}
<div
  class="modal fade"
  id="modalAddState"
  tabindex="-1"
  aria-labelledby="modalAddStateLabel"
  aria-hidden="true"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
>
  <div class="modal-dialog modal-md modal-dialog-centered">
    <div class="modal-content">
        <form
          method="post"
          enctype="multipart/form-data"
          class="d-flex flex-column"
          action="{% url 'add_state' %}"
        >
          {% csrf_token %}
          <input
            type="hidden"
            name="add-state-id"
            id="add-state-id"
            required
          />
          <div class="modal-header m-0">
            <h5 class="modal-title" id="modalAddStateLabel">
              Agregar estado
            </h5>
            <button
              type="button"
              class="btn-close shadow-none"
              data-bs-dismiss="modal"
              aria-label="Cerrar"
            ></button>
          </div>
          <div class="modal-body">
            <div id="content-add-state" class="flex-column gap-2 gap-lg-3 w-100">
              <div class="form-group">
                <label for="add-state-name" class="form-label">Nombre</label>
                <input
                  type="text"
                  name="add-state-name"
                  id="add-state-name"
                  class="form-control"
                  placeholder="Nombre del estado"
                  required
                />
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button 
              type="submit" 
              class="btn btn-primary" 
              id="edit-btn-save"
              name="action"
              value="save"
            >
              <i class="fa-solid fa-save"></i> 
              Guardar cambios
            </button>
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
              <i class="fa-solid fa-ban"></i>
              Cancelar
            </button>
          </div>
        </form>
      </div>
  </div>
</div>

<script src="{% static 'js/routes/add_route.js' %}"></script>
